*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* stili header */
header{
    background-image: url(../img/jumbo.png);
    background-size: contain;
}


nav{
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 65%;
    height: 50px;
    /* debug rules */
    
    /* border: 1px solid black; */
}

.nav-button{
    padding: 5px 0 ;
    width: 25%;
    height: 100%;
    /* debug rules */
    /* border: 1px solid black; */
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
    /* debug rules */
    /* border: 1px solid black; */
}

.white{
    color: white;
}
#nav-block{
    display: flex;
    justify-content: end;
    align-items: center;
    
    
}
.first-p{
    margin-bottom: 40px;
}
.bg-black{
    background-color: black;
    color: black;
}

.button{
    background-color: white;
    border-radius: 35px;
    padding: 10px 20px;
    
    
}
.black{
    color:black;
}

#bg-black{
    background-color: rgba(0, 0, 0, 0.776);
    color: white;
}


.container{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 100%;
    /* debug rules */
    /* border: 1px solid black; */
    
}

.first-block{
    color: white;
    font-size: 20px;
    text-align: center;
    width: 50% ;
    margin: 25px 0 ;
    /* debug rules */
    /* border: 1px solid black; */
}
h1 , h2{
    margin-bottom: 20px;
}

/* stili main */

.first-item{
    width: 90%;
}

.item{
    width:78%;
}

.container-2-4{
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
    /* debug rules */
    background-color: white;
   
}

.blue{
    width: 40%;
    margin: 25px 0;
    /* debug rules */
    /* background-color: rgb(32, 156, 209); */
}

.pink{
    font-size: 20px;
    width: 25%;
    margin: 25px 0;
    padding: 30px;
    /* debug rules */
    /* background-color: pink; */
    
}

.container-3{
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
    /* debug rules */
    background-color:rgba(222, 216, 216, 0.445);
}
.container-5{
    display: flex;
    justify-content: center;
    height: 800px;
    width: 100%;
    /* debug rules */
    background-color:rgba(222, 216, 216, 0.445);
} 

.last-main-block{
    font-size: 23px;
    text-align: center;
    width: 65%;
    margin: 25px 0;
    /* debug rules */
    /* background-color: green; */
}
#big-img{
    width: 80%;
    
}
.bg-stars{
    background-image: url(../img/stars.svg);
    background-size: contain;
    margin-bottom: 30px;
}
#bg-blue{
    background-color: rgba(131, 74, 255, 0.767);
    color: white;
}

/* stili footer */



#main-col{
    width: 25%;
    /* debug rule */
    background-color: brown;
    font-size: 25px;
}
.flag{
    width: 10%;
}

.col{
    width: 10% ;
    margin-bottom: 20px;
    margin-top: 5px;
    /* debug rules */
    background-color: rgba(18, 185, 171, 0.847);
    border: 1px solid black;
}

.last-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    /* debug rules */
    background-color: black;
    
}

.h1{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 65%;
    height: 60px;
    /* debug rules */
    background-color: rgb(26, 255, 182);
    border: 1px solid black;
}







